.FoldableInformationHeader, .PortletHeader, .InformationHeader {
  background-color: #55565a !important;
  color: #FFF !important;
  background-image: none !important;
}
.ResultsBox, .PortletBox, .InformationBox, #tabs_container {
  border-color: #000 !important;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .ui-tabs > .ui-tabs-nav > li.ui-tabs-selected > a, .ui-tabs > .ui-tabs-nav > li.ui-tabs-selected > a:hover {
  border: #000 !important;
  border-bottom: 0 !important;
  background-color: #55565a !important;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .ui-tabs > .ui-tabs-nav > li.ui-tabs-selected > a, .ui-tabs > .ui-tabs-nav > li.ui-tabs-selected > a:hover {
  color: #FFF !important;
}
.FoldableInformationHeader th, .PortletHeader th, .InformationHeader th {
  color: #FFF !important;
}
.FoldableInformationHeader a, .PortletHeader a, .InformationHeader a, .FoldableInformationHeader a:hover, .PortletHeader a:hover, .InformationHeader a:hover {
  color: #6ebaff !important;
}
.PortletBox, #tabs_container, #tabs .active, #pageLayOutTabsUL .active, .edit-tabs {
  background-color: #fff !important;
}
