.FoldableInformationHeader, .PortletHeader, .InformationHeader {
  background-color: #55565a !important;
  color: #FFF !important;
  background-image: none !important;
}
.ResultsBox, .PortletBox, .InformationBox, #tabs_container {
  border-color: #55565a !important;
}
.FoldableInformationHeader th, .PortletHeader th, .InformationHeader th {
  color: #FFF !important;
}
